{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block style %}
<style>
    p{
        width: 100%;
        color: black;
        font-size: 24px;
        font-weight: 400;
        text-align: justify;
        align-content: center;
        margin: 0 auto;
    }
    li{
        font-size: 24px;
    }

</style>
{% endblock %}


{% block content %}


<br>
<br>
<br>
<h1>About Our Inventory Control System</h1>
<br>
<br>
<h3>What We Are</h3>
<br>


<p>This is the Central Digital Hub dedicated to the precise management and tracking of our entire inventory of electronic devices, components, and accessories. We are more than just a list; we are the authoritative source for every piece of technology flowing through our organization.
</p>

<br>
<br>
<h3>What We Are</h3>
<br>

<p>We provide meticulous oversight for a diverse and critical range of assets, including:</p>
<br>
<ul>
    <li><b>Input Devices:</b> Keyboards, mice, scanners, and specialized controllers.</li>
    <li><b>Audio Equipment:</b> Headsets, speakers, microphones, and sound interfaces.</li>
    <li><b>Network Infrastructure:</b> Switches, routers, adapters, and cabling components.</li>
    <li><b>Computer Parts:</b> CPUs, memory modules, storage drives, and internal components.</li>
    <li><b>Accessories & More:</b> Cables, adapters, peripherals, and related items.</li>
</ul>


<br>
<br>
<br>

<p>Our goal is to eliminate friction in acquiring necessary technology. The system provides a real-time, transparent view of available stock.</p>


    <br>
    <br>
    <br>
        <div style="text-align: center;">
            <a href="/"><button type="submit" name="submit" id="submit" class="btn" style="background-color: #08a188; color: #ffffff;" >Back to home</button></a>
        </div>

{% endblock %}