{% extends "base.html" %}

{% block title %}Home{% endblock %}


{% block style %}
<style>
    p{
        width: 100%;
        color: black;
        font-size: 24px;
        font-weight: 400;
        text-align: justify;
        align-content: center;
        margin: 0 auto;
    }
</style>
{% endblock %}


{% block content %}


<br>
<br>
<br>
<h1>Precision Inventory Management for the Modern Digital Age</h1>
<br>
<br>
<br>
<br>

<p>Welcome to the backbone of our electronic assets. This system seamlessly manages a diverse catalog-including Input Devices, Audio Gear, Network Components, Computer Parts, and Accessories.
</p>

<br>

<p>Utilize the Issue Items button to quickly acquire the essential technology required for your Customers.</p>



    <br>
    <br>
    <br>
        <div style="text-align: center;">
            <a href="sale_process"><button type="submit" name="submit" id="submit" class="btn" style="background-color: #08a188; color: #ffffff; height: 50px; width: 150px; border-radius: 25px;"  >Issue Items</button></a>
        </div>


{% endblock %}