{% extends "base.html" %}

{% block title %}Update Stock{% endblock %}


{% block content %}

<h1>Update Stock</h1>

<form method="POST">
    <label for="new_stock_name">Name</label>
    <input type="text" id="new_stock_name" name="new_stock_name" class="form-control" value="{{ stock.stock_name }}" required>

    <label for="new_unit_price">Unit Price</label>
    <input type="number" id="new_unit_price" name="new_unit_price" class="form-control" value="{{ stock.unit_price }}" step="any" required>
    
    <label for="new_selling_price">Selling Price</label>
    <input type="number" id="new_selling_price" name="new_selling_price" class="form-control" value="{{ stock.selling_price }}" step="any" required>
    
    <label for="new_quantity">Quantity</label>
    <input type="number" id="new_quantity" name="new_quantity" class="form-control" value="{{ stock.quantity }}"  required>
    
    <label for="new_stock_description">Description</label>
    <textarea class="form-control" name="new_stock_description" id="new_stock_description" required>{{ stock.stock_description }}</textarea>

   


    <label for="new_product_type">Product:</label>
        <select id="new_product_type" name="new_product_type" class="form-control" required>
            <option value="">-- Choose a Product --</option>
            

            {% for product in products %}
                <option value="{{ product.id }}">
                    {{ product.item_name }}
                </option>
            {% endfor %}

            
        </select>

    <br>
    <br>

    <div style="text-align: center;">
        <button type="submit" name="submit" id="submit" class="btn" style="background-color: #08a188; color: #ffffff;" >Update Stock</button>
    </div>


</form>

    <br>
    <br>
    <div style="text-align: center;">
        <a href="/see_stocks"><button type="submit" name="submit" id="submit" class="btn" style="background-color: #08a188; color: #ffffff;" >Back to Stock</button></a>
    </div>

{% endblock %}